.Green{
  background-color:#E7E1B1;
  color:#0D530E; 
}

.Blue{
 color: #111844;
 background-color: #EAE0CF;
}

.Navy{
color: #121358;
background-color: #C4E2F5;
}

.Red{
  color: #810B38;
  background-color: #DCC3AA;
}

.Dirt{
  color: #41431B;
  background-color: #AEB784;
}

.FlexBox{
  display:flex;
}

